
{% extends 'store/layout.html' %}
{% load static %}
{% block content %}



    <div class="owl-carousel owl-single px-0">
      <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_bg.jpg' %});">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto align-self-center">
              <div class="site-block-cover-content text-center">
                <h1 class="mb-0"><strong class="text-primary">Pharmative</strong> Opens 24 Hours</h1>

                <div class="row justify-content-center mb-5">
                  <div class="col-lg-6 text-center">
                    <p>Hey, what are you looking for ?.</p>
                  </div>
                </div>

                <p><a href="{% url 'store' %}" class="btn btn-primary px-5 py-3">Shop Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_bg_2.jpg' %});">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto align-self-center">
              <div class="site-block-cover-content text-center">
                <h1 class="mb-0">New Medicine <strong class="text-primary">Everyday</strong></h1>
                <div class="row justify-content-center mb-5">
                  <div class="col-lg-6 text-center">
                    <p> go and check out the store.</p>

                  </div>
                </div>
                <p><a href="{% url 'store' %}" class="btn btn-primary px-5 py-3">Shop Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="site-section py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="feature">
              <span class="wrap-icon flaticon-24-hours-drugs-delivery"></span>
              <h3><a href="#">Free Delivery</a></h3>
              <p>We'll deliver the medicines for free of cost, no extra charges</p>
              <!-- <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Learn more</span> <span class="icon-keyboard_arrow_right"></span></a></p> -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <span class="wrap-icon flaticon-medicine"></span>
              <h3><a href="#">New Medicine Everyday</a></h3>
              <p>We add new medicine Everyday.</p>
              <!-- <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Learn more</span> <span class="icon-keyboard_arrow_right"></span></a></p> -->
            </div>
          </div>
          <div class="col-lg-4">
            <div class="feature">
              <span class="wrap-icon flaticon-test-tubes"></span>
              <h3><a href="#">Medicines Guaranteed</a></h3>
              <p>we ensure that the promised return is paid out are in Guaranteed return space.</p>
              <!-- <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Learn more</span> <span class="icon-keyboard_arrow_right"></span></a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2>Diabetes <strong class="text-primary">Prediction Model</strong></h2>
          </div>
        </div>

        <div class="row">
          
          <div class="col-md-12 block-3 products-wrap">
            
             
              <div class="title-section text-center col-12">
                <form action="predict">
                  <input class="btn btn-primary px-5 py-3" type="submit" value="Let's get start it">
                </form>
              </div>

            

            
          </div>
          
        </div>
      </div>
    </div>


    <div class="site-section bg-image overlay" style="background-image: url('images/hero_bg_2.jpg');">
      <div class="container">
        <div class="row justify-content-center text-center">
         <div class="col-lg-7">
           <h3 class="text-white">Sign up for discount up to 55% OFF</h3>
           <!-- <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam.</p> -->
           <p class="mb-0"><a href="{% url 'registerPage' %}" class="btn btn-outline-white">Sign up</a></p>
         </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-6">
            <div class="title-section">
              <h2>Happy <strong class="text-primary">Customers</strong></h2>
            </div>
            <div class="block-3 products-wrap">
            <div class="owl-single no-direction owl-carousel">

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid">
                  <p>&ldquo;I usualy predict my Diabetes report on this site, I dont need to spent more on chip.&rdquo;</p>
                </blockquote>

                <p class="author">&mdash; Kelly Holmes</p>
              </div>

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid">
                  <p>&ldquo;Pharmative made my life easy .&rdquo;</p>
                </blockquote>

                <p class="author">&mdash; Rebecca Morando</p>
              </div>

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid">
                  <p>&ldquo;It has been great experiance with Pharmative&rdquo;</p>
                </blockquote>

                <p class="author">&mdash; Lucas Gallone</p>
              </div>

              <div class="testimony">
                <blockquote>
                  <img src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid">
                  <p>&ldquo;the thing that I love about pharative is they deliver medicine on time .&rdquo;</p>
                </blockquote>

                <p class="author">&mdash; Andrew Neel</p>
              </div>

            </div>
          </div>
          </div>
          <div class="col-lg-5">
            <div class="title-section">
              <h2 class="mb-5">Why <strong class="text-primary">Us</strong></h2>
              <div class="step-number d-flex mb-4">
                <span>1</span>
                <p>We are trusted by millions</p>
              </div>

              <div class="step-number d-flex mb-4">
                <span>2</span>
                <p>On time Delivery</p>
              </div>

              <div class="step-number d-flex mb-4">
                <span>3</span>
                <p>medicine Guaranteed</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
{% endblock content %}
